{% comment %}
  Renders collection carousel

  Accepts:
  - catalog_menu: {linklist} Menu containing the catalog
  - catalog_collection_list: {collection[]} Catalog parrent categories

  Usage:
  {% render 'facets-category', catalog_menu: , catalog_collection_list:  %}
{% endcomment %}

<div class="categories-wrapper">
  {% comment %}
    <ul>
  {% endcomment %}
  {% assign used_top_categories = "" | split: "," %}
  {% assign found_top_categories = "" | split: "," %}
  {% assign foundActiveUrlLevel1 = "" %}
  {% for catalog_collection in catalog_collection_list %}
    {% for link in catalog_menu.links %}
      {% for ll in link.links %}
        {% if ll.title == catalog_collection.title %}

          {%- comment -%}
            Add found title to list if missing
          {%- endcomment -%}
          {% if found_top_categories contains link.title %}
            {%- else -%}
              {% assign use_title = link.title | split: ", " %}
              {% assign found_top_categories = found_top_categories | concat: use_title %}
          {% endif %}

          {% assign isFoundActive = false %}
          {% for llSublink1 in ll.links %}
            {% assign foundActiveUrlLevel1 = ll.url %}
            {% if llSublink1.current %}
              {% assign isFoundActive = true %}
              {% break %}
            {% else %}
              {% for llSublink2 in llSublink1.links %}
                {% if llSublink2.current %}
                  {% assign isFoundActive = true %}
                  {% break %}
                {% else %}
                  {% for llSublink3 in llSublink1.links %}
                    {% if llSublink3.current %}
                      {% assign isFoundActive = true %}
                      {% break %}
                      {% else %}
                    {% endif %}
                  {% endfor %}
                  {% if isFoundActive %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if isFoundActive %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if isFoundActive %}
            {% break %}
          {% else %}
            {% assign foundActiveUrlLevel1="" %}
          {% endif %}
          {% break %}
        {% endif %}
      {% endfor %}
      {%- comment -%}
        <p>found:{{ foundActiveUrlLevel1 }}</p>
      {%- endcomment -%}
      {% if isFoundActive %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if isFoundActive %}
      {% break %}
    {% endif %}
  {% endfor %}


  {% for catalog_collection in catalog_collection_list %}
    {% comment %}
      <div >{{ catalog_collection.title }}</div>
    {% endcomment %}
    {%- comment -%}
      {% assign isFound = false %}
    {%- endcomment -%}
    {% for link in catalog_menu.links %}
      {% comment %}
        Look for catalog collections is are pressent in menu
      {% endcomment %}
      {% comment %}
        Check if active link is pressent on this menu branch sublevels
      {% endcomment %}
      {%- comment -%}
        <div >link found: {{ ll.title }}</div>
      {%- endcomment -%}
      {%- comment -%}
        <p>link.title:{{ link.title }}</p>
      {%- endcomment -%}
      {%- comment -%}
        <p>found_top_categories:{{ found_top_categories }}</p>
      {%- endcomment -%}
      {% if found_top_categories contains link.title %}
        {% if used_top_categories contains link.title %}
          {%- else -%}
            {% assign use_title = link.title | split: ", " %}
            {% assign used_top_categories = used_top_categories | concat: use_title %}
            {%- if link.links != empty -%}
              {%- comment -%}
                <div class="categories-level{% if link.current %} subcategory-current-link{% endif %}" style="padding-left:0px;">{{ link.title | link_to: link.url }}</div>
              {%- endcomment -%}
              {% for sublink1 in link.links %}
                {%- comment -%}
                  <p>sublink1:{{ sublink1.url }}</p>
                {%- endcomment -%}
                {%- comment -%}
                  <p>foundActiveUrlLevel1:{{ foundActiveUrlLevel1 }}</p>
                {%- endcomment -%}
                {%- if sublink1.url == foundActiveUrlLevel1 -%}
                  <div class="categories-level-1{% if sublink1.current %} subcategory-current-link{% endif %}" style="padding-left:10px;">{{ sublink1.title | link_to: sublink1.url }}</div>
                  {%- comment -%}
                    {{ sublink1.links }}
                  {%- endcomment -%}
                  {%- if sublink1.links != empty -%}
                    {% for sublink2 in sublink1.links %}
                      <div class="categories-level-2{% if sublink2.current %} subcategory-current-link{% endif %}" style="padding-left:20px;">{{ sublink2.title | link_to: sublink2.url }}</div>
                      {%- if sublink2.links != empty -%}
                        {% for sublink3 in sublink2.links %}
                          <div class="categories-level-3{% if sublink3.current %} subcategory-current-link{% endif %}" style="padding-left:30px;">{{ sublink3.title | link_to: sublink3.url }}</div>
                        {% endfor %}
                      {%- endif -%}
                    {% endfor %}
                  {%- endif -%}
                {%- endif -%}
              {% endfor %}
            {%- endif -%}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{%- style -%}
  .subcategory-current-link {
    font-weight: bold;
  }

  .categories-wrapper a {
    font-size: 1.4rem;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    text-decoration: auto;
    color: rgba(var(--color-foreground), 0.75);
  }

  .categories-wrapper a:hover {
    text-decoration: underline;
    color: rgba(var(--color-foreground), 1);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
      margin-right: 0;
    }
  }
{%- endstyle -%}

<script></script>