{% comment %}
  Renders collection carousel

  Accepts:
  - catalog_menu: {linklist} Menu containing the catalog
  - catalog_collection_list: {collection[]} Catalog parrent categories

  Usage:
  {% render 'facets-category', catalog_menu: , catalog_collection_list:  %}
{% endcomment %}

{% if catalog_collection_list != empty %}

  <div class="categories-wrapper">
    {% assign used_top_categories = "" | split: "," %}
    {% assign found_top_categories = "" | split: "," %}
    {% assign foundActiveUrlCategory = "" %}
    {% assign foundActiveUrlLevel1 = "" %}
    {% assign foundActiveUrlLevel2 = "" %}
    {% assign foundActiveUrlLevel3 = "" %}
    {% for catalog_collection in catalog_collection_list %}
      {% assign isFoundActive = false %}
      {%- comment -%}
        <p>cc: {{catalog_collection.title}}</p>
      {%- endcomment -%}
      {% for link_no_use in catalog_menu.links %}
        {%- comment -%}
          This level is for Menu visible items: Home | Catalog | ...
        {%- endcomment -%}
        {%- comment -%}
          <p>isFoundActive cml: {{isFoundActive}}</p>
        {%- endcomment -%}
        {% if isFoundActive %}
          {% break %}
        {% endif %}
        {%- comment -%}
          <p>cml: {{link_no_use.title}}</p>
        {%- endcomment -%}
        {% for catalog_category in link_no_use.links %}
          {%- comment -%}
            This level is for catalog Category names
          {%- endcomment -%}
          {% if catalog_category.title == catalog_collection.title %}
            {%- comment -%}
              Add found title to list if missing
            {%- endcomment -%}
            {% if found_top_categories contains catalog_category.title %}
              {%- else -%}
                {% assign use_title = catalog_category.title | split: ", " %}
                {% assign found_top_categories = found_top_categories | concat: use_title %}
            {% endif %}
            {% assign foundActiveUrlCategory = catalog_category.url %}

            {% if catalog_category.current %}
              {% assign isFoundActive = true %}
              {% break %}
            {%- else -%}
              {% for llSublink1 in catalog_category.links %}
                {% assign foundActiveUrlLevel1 = llSublink1.url %}
                {% if llSublink1.current %}
                  {% assign isFoundActive = true %}
                  {% break %}
                {% else %}
                  {% for llSublink2 in llSublink1.links %}
                    {% assign foundActiveUrlLevel2 = llSublink2.url %}
                    {% if llSublink2.current %}
                      {% assign isFoundActive = true %}
                      {% break %}
                    {% else %}
                      {% for llSublink3 in llSublink1.links %}
                        {% assign foundActiveUrlLevel3 = llSublink3.url %}
                        {% if llSublink3.current %}
                          {% assign isFoundActive = true %}
                          {% break %}
                          {% else %}
                        {% endif %}
                      {% endfor %}
                      {% if isFoundActive %}
                        {% break %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% if isFoundActive %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if isFoundActive %}
                {% break %}
              {% else %}
                {% assign foundActiveUrlCategory = "" %}
                {% assign foundActiveUrlLevel1="" %}
                {% assign foundActiveUrlLevel2="" %}
                {% assign foundActiveUrlLevel3="" %}
              {% endif %}

            {% endif %}
            {%- comment -%}
              {% break %}
            {%- endcomment -%}
            {%- comment -%}
              <p>isFoundActive cmls bottom: {{isFoundActive}}</p>
            {%- endcomment -%}
          {% else %}
            {% assign foundActiveUrlLevel1="" %}
            {% assign foundActiveUrlCategory = "" %}
          {% endif %}
        {% endfor %}
        {% if isFoundActive %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if isFoundActive %}
        {% break %}
      {% endif %}
    {% endfor %}

    {%- comment -%}
      <p>foundActiveUrlCategory:{{ foundActiveUrlCategory }}
      </p>
      <p>foundActiveUrlLevel1:{{ foundActiveUrlLevel1 }}</p>
      <p>foundActiveUrlLevel2:{{ foundActiveUrlLevel2 }}</p>
      <p>foundActiveUrlLevel3:{{ foundActiveUrlLevel3 }}</p>
      <p>found_top_categories:{{ found_top_categories | join: ", "  }}</p>
    {%- endcomment -%}

    {%- comment -%}
      {% if foundActiveUrlLevel1 != null and foundActiveUrlLevel1 != "" %}
      {% increment no_of_sublevels %}
      {% endif %}
      {% if foundActiveUrlLevel2 != null and foundActiveUrlLevel2 != "" %}
      {% increment no_of_sublevels %}
      {% endif %}
      {% if foundActiveUrlLevel3 != null and foundActiveUrlLevel3 != "" %}
      {% increment no_of_sublevels %}
      {% endif %}
    {%- endcomment -%}

    {% for catalog_collection in catalog_collection_list %}
      {% if found_top_categories contains catalog_collection.title %}
        {% for link_no_use in catalog_menu.links %}
          {% if used_top_categories contains link_no_use.title %}
            {%- else -%}
              {% assign use_title = link_no_use.title | split: ", " %}
              {% assign used_top_categories = used_top_categories | concat: use_title %}

              {%- if link_no_use.links != empty -%}

                {% for catalog_category in link_no_use.links %}



                  {%- if catalog_category.url == foundActiveUrlCategory or true -%}
                    <summary class="categories-level row-level {% if catalog_category.current %} subcategory-current-link{% endif %}" style="padding-left:0px;">
                      <div class="row-level-left">
                        {{ catalog_category.title | link_to: catalog_category.url }}
                      </div>

                      <div class="row-level-right" {%- if catalog_category.url == foundActiveUrlCategory-%} open{% endif %}>
                        {% render 'icon-caret' %}
                      </div>
                    </summary>

                    {% for sublink1 in catalog_category.links %}
                      {%- if sublink1.url == foundActiveUrlLevel1 or catalog_category.url == foundActiveUrlCategory -%}
                        <div class="categories-level-1{% if sublink1.current %} subcategory-current-link{% endif %}">{{ sublink1.title | link_to: sublink1.url }}</div>
                        {%- if sublink1.links != empty -%}
                          {% for sublink2 in sublink1.links %}

                            {%- if sublink2.url == foundActiveUrlLevel2 or true -%}
                              <div class="categories-level-2{% if sublink2.current %} subcategory-current-link{% endif %}">{{ sublink2.title | link_to: sublink2.url }}</div>
                              {%- if sublink2.links != empty -%}
                                {% for sublink3 in sublink2.links %}

                                  {%- if sublink3.url == foundActiveUrlLevel3 or true -%}
                                    <div class="categories-level-3{% if sublink3.current %} subcategory-current-link{% endif %}">{{ sublink3.title | link_to: sublink3.url }}</div>
                                  {%- endif -%}

                                {% endfor %}
                              {%- endif -%}
                            {%- endif -%}

                          {% endfor %}
                        {%- endif -%}
                      {%- endif -%}
                    {% endfor %}
                  {%- endif -%}

                {% endfor %}

              {%- endif -%}
          {% endif %}
        {% endfor %}
        {% break %}
      {% endif %}


    {% endfor %}
  </div>

{% endif %}

{%- style -%}
  .subcategory-current-link {
    font-weight: bold;
  }

  .categories-wrapper a {
    font-size: 1.4rem;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
    text-decoration: auto;
    color: rgba(var(--color-foreground), 0.75);
  }

  .categories-wrapper a:hover {
    text-decoration: underline;
    color: rgba(var(--color-foreground), 1);
  }

  .categories-level-1 {
    padding-left: 10px;
  }

  .categories-level-2 {
    padding-left: 20px;
  }

  .categories-level-3 {
    padding-left: 30px;
  }

  .row-level {
    width: 100%;
    display: flex;
    padding: 0 1.75rem 0 0;
    /* margin-bottom: 0; */
    /* color: rgba(var(--color-foreground), 0.75); */
    /* font-size: 1.4rem; */
  }

  .row-level-left {
    flex-grow: 1;
    /* background: blue; */
  }

  .row-level-right {}

  /* .row-level-right[open] {
    transform: rotate(180deg);
  } */

  @media screen and (min-width: 750px) {
    .categories-wrapper {
      border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.1);
      margin: 0 0 1.5rem;
      padding: 0 0 1.5rem;
    }
  }
{%- endstyle -%}

<script></script>