{%- style -%}
  {% assign banner_title_font = section.settings.banner_title_font %}
  {{ banner_title_font | font_face }}

  {% assign banner_message_font = section.settings.banner_message_font %}
  {{ banner_message_font | font_face }}

  {% assign offer_title_font = section.settings.offer_title_font %}
  {{ offer_title_font | font_face }}

  .row {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 36px 50px;
    background-image: url('{{ 'circuit-green.svg' | asset_url }}');
  }

  .column-left {
    flex: 60%;
    width: 60%;
    align-self: {{ section.settings.banner_alignment_vertically }};
    padding: {{ section.settings.banner_padding_top }}px{{ section.settings.banner_padding_right }}px{{ section.settings.banner_padding_bottom }}px{{ section.settings.banner_padding_left }}px;
  }

  .column-right {
    flex: 40%;
    width: 40%;
    align-self: {{ section.settings.offers_alignment_vertically }};
    padding: {{ section.settings.offers_padding_top }}px{{ section.settings.offers_padding_right }}px{{ section.settings.offers_padding_bottom }}px{{ section.settings.offers_padding_left }}px;
  }

  .column-left-no-offers {
    flex: 100%;
  }

  .column-right-no-offers {
    flex: 0;
  }

  .container-fluid {
    background-image: url("{{ section.settings.bg_image.src | image_url }}");
    background-size: cover;
    background-position: center;
    min-height: {{ section.settings.height }}vh;
    display: flex;
    justify-content: center;
  }

  #banner-title {
    font-size: calc(var(--font-heading-scale) * {{ section.settings.banner_title_size }}rem);
    text-align: {{ section.settings.left_col_title_alignment }};
    color: {{ section.settings.banner_title_color }};
    margin: auto;
  }

  #offer-title {
    font-size: calc(var(--font-heading-scale) * {{ section.settings.offer_size }}rem);
    font-family: {{ offer_title_font.family }};
    font-style: {{ offer_title_font.style }};
    font-weight: {{ offer_title_font.weight }};
    text-align: {{ section.settings.offer_title_alignment }};
    color: {{ section.settings.offer-color }};
    margin: 0 32px;
  }

  #banner-message {
    font-size: calc(var(--font-heading-scale) * {{ section.settings.banner_message_size }}rem);
    font-family: {{ banner_message_font.family }};
    font-style: {{ banner_message_font.style }};
    font-weight: {{ banner_message_font.weight }};
    color: {{ section.settings.banner_message_color }};
    margin: auto;
    align-self: center;
    text-align: {{ section.settings.left_col_message_alignment }};
  }

  h2 p {
    margin: auto;
    font-family: {{ banner_title_font.family }};
    font-style: {{ banner_title_font.style }};
    font-weight: {{ banner_title_font.weight }};
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .row {
      padding: 36px 10px;
    }


    .column-left {
      flex: 100%;
      padding: {{ section.settings.mobile_banner_padding_top }}px{{ section.settings.mobile_banner_padding_right }}px{{ section.settings.mobile_banner_padding_bottom }}px{{ section.settings.mobile_banner_padding_left }}px;
      align-self: {{ section.settings.mobile_banner_alignment_vertically }};
    }

    .column-right {
      flex: 100%;
      padding: {{ section.settings.mobile_offers_padding_top }}px{{ section.settings.mobile_offers_padding_right }}px{{ section.settings.mobile_offers_padding_bottom }}px{{ section.settings.mobile_offers_padding_left }}px;
      align-self: {{ section.settings.mobile_offers_alignment_vertically }};
    }

    #banner-message {
      font-size: calc(var(--font-heading-scale) * {{ section.settings.mobile_banner_message_size }}rem);
      text-align: {{ section.settings.mobile_left_col_message_alignment }};
    }

    #banner-title {
      font-size: calc(var(--font-heading-scale) * {{ section.settings.mobile_banner_title_size }}rem);
      text-align: {{ section.settings.mobile_left_col_title_alignment }};
    }

    #offer-title {
      font-size: calc(var(--font-heading-scale) * {{ section.settings.offer_size }}rem);
      text-align: {{ section.settings.mobile_offer_title_alignment }};
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
{%- endstyle -%}

<div class="container-fluid">
  <div class="row">
    <div {% if section.settings.show_special_offers %}class="column-left"{% else %} class="column-left-no-offers"{% endif %}>
      <h2 id="banner-title">
        {{ section.settings.title }}
      </h2>
      <div id="banner-message">
        {{ section.settings.message }}
      </div>
    </div>

    <div {% if section.settings.show_special_offers %}class="column-right"{% else %} class="column-right-no-offers"{% endif %}>
      {% if section.settings.show_special_offers and collections[section.settings.feature_collection] != blank and collections[section.settings.feature_collection].products_count != 0 %}
        <h2 id="offer-title">
          {{ section.settings.offer-title }}
        </h2>
        {% render 'collection-carousel', feature_collection: section.settings.feature_collection, navigator_icon_color: section.settings.products_button_color, products_hover_button_color: section.settings.products_hover_button_color, carousel_button_icon_ocacity: section.settings.carousel_button_icon_ocacity, carousel_button_icon_color: section.settings.carousel_button_icon_color, offers_product_title_font: section.settings.offers_product_title_font, offers_product_price_font: section.settings.offers_product_price_font, offers_product_price_small_font: section.settings.offers_product_price_small_font, carousel_background_color: section.settings.carousel_background_color, product_title_size: section.settings.product_title_size, products_title_color: section.settings.products_title_color, products_price_color: section.settings.products_price_color, products_price_no_discount_color: section.settings.products_price_no_discount_color, product_big_price_size: section.settings.product_big_price_size, products_button_color: section.settings.products_button_color, products_icon_color: section.settings.products_icon_color, products_hover_icon_color: section.settings.products_hover_icon_color, carousel_card_shadow_ocacity: section.settings.carousel_card_shadow_ocacity, carousel_card_shadow_color: section.settings.carousel_card_shadow_color %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner With Products",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "show_special_offers",
        "label": "Show special offers",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Image"
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height(vh)",
        "default": 60
      }, {
        "type": "header",
        "content": "Banner Layout"
      }, {
        "type": "select",
        "id": "banner_alignment_vertically",
        "label": "Banner Vertical Align",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
      }, {
        "type": "select",
        "id": "mobile_banner_alignment_vertically",
        "label": "Mobile Banner Vertical Align",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
      }, {
        "type": "number",
        "id": "banner_padding_top",
        "label": "Top(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "banner_padding_right",
        "label": "Right(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "banner_padding_bottom",
        "label": "Bottom(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "banner_padding_left",
        "label": "Left(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_banner_padding_top",
        "label": "Mobile Top(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_banner_padding_right",
        "label": "Mobile Right(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_banner_padding_bottom",
        "label": "Mobile Bottom(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_banner_padding_left",
        "label": "Mobile Left(px)",
        "default": 0
      }, {
        "type": "header",
        "content": "Offers Layout"
      }, {
        "type": "select",
        "id": "offers_alignment_vertically",
        "label": "Offers Vertical Align",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
      }, {
        "type": "select",
        "id": "mobile_offers_alignment_vertically",
        "label": "Mobile Offers Vertical Align",
        "options": [
          {
            "value": "start",
            "label": "Start"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "end",
            "label": "End"
          }
        ],
        "default": "center"
      }, {
        "type": "number",
        "id": "offers_padding_top",
        "label": "Top(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "offers_padding_right",
        "label": "Right(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "offers_padding_bottom",
        "label": "Bottom(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "offers_padding_left",
        "label": "Left(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_offers_padding_top",
        "label": "Mobile Top(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_offers_padding_right",
        "label": "Mobile Right(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_offers_padding_bottom",
        "label": "Mobile Bottom(px)",
        "default": 0
      }, {
        "type": "number",
        "id": "mobile_offers_padding_left",
        "label": "Mobile Left(px)",
        "default": 0
      }, {
        "type": "header",
        "content": "Banner Title"
      }, {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      }, {
        "type": "font_picker",
        "id": "banner_title_font",
        "label": "Banner Title Font",
        "default": "helvetica_n4"
      }, {
        "type": "color",
        "id": "banner_title_color",
        "label": "Title Color",
        "default": "#000000"
      }, {
        "type": "number",
        "id": "banner_title_size",
        "label": "Banner Title Size(rem)",
        "default": 2
      }, {
        "type": "number",
        "id": "mobile_banner_title_size",
        "label": "Mobile Banner Title Size(rem)",
        "default": 2
      }, {
        "type": "select",
        "id": "left_col_title_alignment",
        "label": "Title alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "select",
        "id": "mobile_left_col_title_alignment",
        "label": "Mobile title alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "header",
        "content": "Banner Message"
      }, {
        "type": "richtext",
        "id": "message",
        "label": "Message"
      }, {
        "type": "font_picker",
        "id": "banner_message_font",
        "label": "Banner Message Font",
        "default": "helvetica_n4"
      }, {
        "type": "color",
        "id": "banner_message_color",
        "label": "Message Color",
        "default": "#000000"
      }, {
        "type": "number",
        "id": "banner_message_size",
        "label": "Banner Message Size(rem)",
        "default": 1
      }, {
        "type": "number",
        "id": "mobile_banner_message_size",
        "label": "Mobile Banner Message Size(rem)",
        "default": 1
      }, {
        "type": "select",
        "id": "left_col_message_alignment",
        "label": "Message alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "select",
        "id": "mobile_left_col_message_alignment",
        "label": "Mobile message alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "header",
        "content": "Carousel"
      }, {
        "type": "text",
        "id": "offer-title",
        "label": "Offer Title"
      }, {
        "type": "font_picker",
        "id": "offer_title_font",
        "label": "Offer Title Font",
        "default": "helvetica_n4"
      }, {
        "type": "number",
        "id": "offer_size",
        "label": "Offer Title Size(rem)",
        "default": 1
      }, {
        "type": "number",
        "id": "offer-padding",
        "label": "Offer Pading(px)",
        "default": 0
      }, {
        "type": "color",
        "id": "offer-color",
        "label": "Offer Text Color",
        "default": "#000000"
      }, {
        "type": "select",
        "id": "offer_title_alignment",
        "label": "Offer Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "select",
        "id": "mobile_offer_title_alignment",
        "label": "Mobile Offer Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "collection",
        "id": "feature_collection",
        "label": "Chose Collection to show on slideshow"
      }, {
        "type": "header",
        "content": "Product Layout"
      }, {
        "type": "font_picker",
        "id": "offers_product_title_font",
        "label": "Product Title Font",
        "default": "helvetica_n4"
      }, {
        "type": "number",
        "id": "product_title_size",
        "label": "Product Title Size(rem)",
        "default": 1
      }, {
        "type": "color",
        "id": "products_title_color",
        "label": "Change color of title",
        "default": "#fff"
      }, {
        "type": "font_picker",
        "id": "offers_product_price_font",
        "label": "Product Big Price Font",
        "default": "helvetica_n4"
      }, {
        "type": "number",
        "id": "product_big_price_size",
        "label": "Product Price Size(rem)",
        "default": 2
      }, {
        "type": "color",
        "id": "products_price_color",
        "label": "Change color of price",
        "default": "#fed700"
      }, {
        "type": "font_picker",
        "id": "offers_product_price_small_font",
        "label": "Product Small Price Font",
        "default": "helvetica_n4"
      }, {
        "type": "number",
        "id": "product_small_price_size",
        "label": "Product Small Price Size(rem)",
        "default": 1
      }, {
        "type": "color",
        "id": "products_price_no_discount_color",
        "label": "Change color of price without discount",
        "default": "#848484"
      }, {
        "type": "color",
        "id": "products_button_color",
        "label": "Change color of button",
        "default": "#495057"
      }, {
        "type": "color",
        "id": "products_hover_button_color",
        "label": "Change color for hovered button",
        "default": "#fed700"
      }, {
        "type": "color",
        "id": "products_icon_color",
        "label": "Change color of icon",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "products_hover_icon_color",
        "label": "Change color for hovered icon",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "carousel_button_icon_color",
        "label": "Change navigator buttons color",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "carousel_background_color",
        "label": "Carousel background color",
        "default": "transparent"
      }, {
        "type": "range",
        "id": "carousel_button_icon_ocacity",
        "min": 10,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Navigator buttins opacity color",
        "default": 50
      }, {
        "type": "range",
        "id": "carousel_card_shadow_ocacity",
        "min": 0,
        "max": 95,
        "step": 5,
        "unit": "%",
        "label": "Carousel card shadow opacity color",
        "default": 50
      }, {
        "type": "color",
        "id": "carousel_card_shadow_color",
        "label": "Carousel card shadow color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "category": "Banners",
        "name": "Banner With Products"
      }
    ]
  }
{% endschema %}